build==1.2.1
twine==5.1.1

django==5.0.7
requests==2.32.3

pytest>=8.3.1
factory-boy>=3.3.0

ipython>=8.26.0
pre_commit>=3.7.1
pip-check-updates>=0.27.0

isort>=5.13.2
bandit>=1.7.9
black>=24.4.2
prospector>=1.10.3
pyupgrade>=3.16.0
setuptools>=71.1.0
